
:root {
  --bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-black: #000;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #0d6efd;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
--bs-primary-rgb: 13,110,253;
--bs-secondary-rgb: 108,117,125;
--bs-success-rgb: 25,135,84;
--bs-info-rgb: 13,202,240;
--bs-warning-rgb: 255,193,7;
--bs-danger-rgb: 220,53,69;
--bs-light-rgb: 248,249,250;
--bs-dark-rgb: 33,37,41;
--bs-white-rgb: 255,255,255;
--bs-black-rgb: 0,0,0;
--bs-body-color-rgb: 33,37,41;
--bs-body-bg-rgb: 255,255,255;
--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #212529;
--bs-body-bg: #fff;
--bs-border-width: 1px;
--bs-border-style: solid;
--bs-border-color: #dee2e6;
--bs-border-color-translucent: rgba(0, 0, 0, .175);
--bs-border-radius: .375rem;
--bs-border-radius-sm: .25rem;
--bs-border-radius-lg: .5rem;
--bs-border-radius-xl: 1rem;
--bs-border-radius-2xl: 2rem;
--bs-border-radius-pill: 50rem;
--bs-heading-color: ;
--bs-link-color: #0d6efd;
--bs-link-hover-color: #0a58ca;
--bs-code-color: #d63384;
--bs-highlight-bg: #fff3cd;
--hue-value-1: 277;
--hue-value-2: 36;
--main-color: hsl(var(--hue-value-1), 74%, 61%);
--button-hover-color: hsl(var(--hue-value-1), 57%, 53%);
--body-bg-color: hsl(var(--hue-value-1), 63%, 97%);
--border-color-2: hsl(var(--hue-value-1), 40%, 93%);
--shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
--body-gradient-bg-color-1: hsl(var(--hue-value-1), 100%, 50%, 0.2);
--body-gradient-bg-color-2: hsl(var(--hue-value-2), 100%, 50%, 0.2);
--decoration-bg-color-1: hsl(var(--hue-value-1), 100%, 70%);
--decoration-bg-color-2: hsl(var(--hue-value-2), 100%, 70%);
}

/* Font faces */
@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/woff/dana-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/woff/dana-regularitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/woff/dana-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/woff/dana-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Base styles */
body {
  font-family: 'dana', sans-serif;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: normal;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.t-dark {
  background-color: #1a202c; /* Tailwind's gray-900 */
  color: #edf2f7; /* Tailwind's gray-200 */
}

body.t-dark {
  --select-box-bg-color: #2d3748; /* Tailwind's gray-800 */
  --border-color-1: #4a5568; /* Tailwind's gray-700 */
}

a {
  color: #dd6b20; /* Tailwind's orange */
  text-decoration: none;
}

a:hover {
  color: #dd6b20; /* Tailwind's orange */
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem;
}

::selection {
  background-color: #dd6b20; /* Tailwind's orange */
  color: white;
}

.row {
  direction: rtl;
}


/* Custom components */
.circular-img {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

.circular-img__inner {
  text-align: center;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}

.circular-img__circle {
  width: 360px;
  height: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}

.circular-img img {
  position: relative;
  z-index: 10;
}

.section-padding {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.slick-prev:before,
.slick-next:before {
  color: #dd6b20; /* Tailwind's orange */
  font-size: 1.5rem;
}

.next-arrow,
.prev-arrow {
  position: absolute;
  bottom: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.next-arrow svg,
.prev-arrow svg {
  width: 25px;
  height: 25px;
  background-color: #dd6b20; /* Tailwind's orange */
  color: white;
  padding: 0.25rem;
  border-radius: 50%;
}

.prev-arrow {
  right: 26px;
}

.next-arrow {
  left: 26px;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}
