
.course-reviews-filter{
    margin: 0 0 35px;
    width: 200px;
}
.course-reviews-filter h3{
    margin-bottom: 1.5rem!important;
    font-weight: 600;
}
.course-reviews-filter select{
    outline: none;
}
.course-reviews-filter .form-group{
    margin-bottom: 25px;
    position: relative;
}
.course-reviews-filter .form-control{
    height: 48px;
    border-color: var(--border-color-2);
    color: var(--black-90);
    background-color: transparent;
}
.course-reviews-filter .form-control:focus{
    background-color: transparent;
    border-color: var(--border-color-1);
    color: var(--black-90);
    box-shadow: none;
}
.course-reviews-filter .form-control:focus option{
    background-color: var(--select-box-bg-color);
}
.course-reviews-filter .select-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform:translateY(-50%);
    pointer-events: none;
    font-size: 0.875rem;
}