
.footer__top {
    padding: 50px 0 20px;
    border-top: 1px solid var(--border-color-2);
}

.footer__item {
    margin: 0 0 30px;
}

.footer__item h3 {
    text-transform: capitalize;
    margin: 0 0 20px;
}

.footer__item ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer__item ul a {
    text-transform: capitalize;
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
}

.footer__item ul a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--main-color);
    transition: width .3s ease;
}

.footer__item ul a:hover::before {
    width: 100%;
}

.footer__item ul a:hover {
    color: var(--main-color);
}

.footer__item ul a .social-icon {
    margin-left: 5px;
}

.footer__logo {
    color: var(--black-70);
    text-transform: uppercase !important;
}

.footer__logo span {
    color: var(--main-color);
}

.footer__bottom {
    border-top: 1px solid var(--border-color-2);
}

.footer__bottom a {
    color: var(--black) !important;
}

@media (max-width: var(--small-width)) {
    .footer__item {
        text-align: center;
    }
}