/* // @import '../../globals/var'; */


.course-header h2 {
    font-size: 1.875rem;
    margin: 0 0 1rem;
    font-weight: 600;
}
.course-header .rating {
    font-size: 0.875rem;
}
.course-header .rating span {
    vertical-align: middle;
}
.course-header .average-rating {
    font-weight: 600;
    color:var(--orange);
}
.course-header .average-stars svg {
    color: var(--orange);
    font-size: 0.875rem;
}
.course-header ul li {
    margin: 0.375rem 0 0;
}
.course-header ul li span {
    margin-left: 0.375rem;
}

@media (max-width: var(--medium-width)) {
    .course-header h2 {
        font-size: 1.5rem;
    }
}