.courses-item {
    margin-bottom: 1.875rem;
    position: relative;
}
.courses-item .img-box img {
    width: 100%;
    border-radius: 5px;
}
.courses-item .link {
    color: var(--black-70);
    display: inline-block;
}
.courses-item .title {
    margin: 1rem 0;
    transition: color 0.3s ease;
}
.courses-item:hover .title {
    color: var(--main-color);
}
.courses-item .instructor {
    margin: 0 0 12px;
}
.courses-item .instructor img {
    width: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
.courses-item .rating {
    font-size: 0.875rem;
}
.courses-item .average-rating {
    font-weight: 600;
    color:var(--orange);
}
.courses-item .average-stars svg {
    color: var(--orange);
}
.courses-item .price, .courses-item .category {
    position:absolute;
    top: 1rem;
    background-color: var(--main-color);
    color: var(--WHITE);
    border-radius: 4px;
}
.courses-item .price {
    right: 1rem;
    padding: 4px 8px;
    font-weight: 600;
}
.courses-item .category {
    left: 1rem;
    font-size: 10px;
    padding: 2px 4px;
}